.login-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
}

.login-card{
    background:white;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    padding: 40px;
    box-shadow: 0 10px 25px black;
}

.login-card h2{
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.form-group{
    margin-bottom: 20px;
}

.form-group label{
    display: block;
    font-weight: 500;
    color: #555;
    margin-bottom: 5px;
}

.form-group input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.form-group input:focus{
    outline: none;
    border-color: #764ba2;
}

.btn-primary{
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: white;
    background:#764ba2;
    padding: 12px;
    transition: background 0.3s;
}

.btn-primary:hover{
    background: #5b3a7c;
}

.auth-link{
    text-align: center;
    margin-top: 20px;
    color: #666;
}

.auth-link a {
  color: #667eea;
  text-decoration: none;
  font-weight: 600;
}

.auth-link a:hover {
  text-decoration: underline;
}

.error-message{
    background: #fee;
    color:rgb(194, 43, 43);
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 20px;
}